a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: .8em;
  padding-left: 2.6em;
}

li {
  padding: .6em;
}

a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a.ume{
  text-decoration: underline;
}


div.side{
  width: 300px;
  position: relative;
}

h1 {
  width: inherit;
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 2em;
  padding-top: 2em;
}

h3 {
  width: inherit;
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-top: 2em;
}

div.scrolling-iframe{
  width: 315px;
  overflow: hidden;
  float:left;
}

iframe {
  border:0;
  height: 350px;
  width: 300px;
  float: left;
  padding-left: 2em;
}

div.photo-scroll{
  width: 600px;
  padding-top: 3em;
  overflow-x: hidden;
  float:left;
}

div.photo-content{
  width: 650px;
  height: 100%;
  float:left;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative;
  overflow: scroll;
}

img{
  max-width: 600px;
  padding-bottom: 2em;
  padding-bottom: 2em;
  float:left;
}

div.description{
  padding-left: 3em;
  position: absolute;
  bottom:0; 
}

p {
  float:left;
  padding-right: 3em;
  padding-left: 1em;
  vertical-align: baseline;
  bottom: 0;
}


p.about {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: .8em;
  line-height: 1.5em;
  text-align: left;
  padding-right: 3em;
  padding-left: 0em;
  vertical-align: baseline;
  bottom: 0;
}

